<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
<!--        <link rel="stylesheet" type="text/css" href="/css/style.css">-->
        <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="/static/js/main.js"></script>
        <title>법령 검색</title>
        <script>
            function execSearch(){
                let query = $('#query').val()
                $.ajax({
                    type: 'GET',
                    url: `/search?query = ${query}`,
                    success: function(response){

                    }
                })
            }
            function addHTML(){

            }
        </script>
    </head>

    <body>
    <div class="container1">
        <div class = "main-logo">
            <h1>법령 검색</h1>
        </div>
        <table class="pull-right">
            <tr>
                <td>
                    <input id = "query" type="text" class="form-control"
                           placeholder="검색어 입력" name="searchText" maxlength="100">
                </td>
                <td>
                    <button type="submit" class="btn btn-success">검색</button>
                </td>
            </tr>
        </table>
        <div class = "searching-result">
            <h2 style="color: royalblue">법령</h2>
            <div class = "law-result">
                <h4>법령명 한글법</h4>
                <h4>법령명 약칭</h4>
            </div>
            <div class = "paragraph-result">
                <h4>조문</h4>
                <div class = "paragraph-details">
                    <ul>
                        <li>
                            <p>1조</p>
                        </li>
                        <li>
                            <p>2조</p>
                        </li>
                        <li>
                            <p>3조</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    </body>
</html>